<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>sectionTitle</key>
		<string>miao</string>
		<key>sectionImage</key>
		<string></string>
		<key>numOfRowItems</key>
		<integer>4</integer>
		<key>numOfColItems</key>
		<integer>2</integer>
		<key>hasDeleteItem</key>
		<false/>
		<key>hasSendBtn</key>
		<false/>
	</dict>
	<key>Items</key>
	<array>
		<dict>
			<key>png</key>
			<string>Emoticon1@2x</string>
			<key>gif</key>
			<string>Emoticon1</string>
			<key>text</key>
			<string></string>
			<key>remark</key>
			<dict>
				<key>cz</key>
				<string>zz</string>
			</dict>
		</dict>
		<dict>
			<key>png</key>
			<string></string>
			<key>gif</key>
			<string>Emoticon2</string>
			<key>text</key>
			<string></string>
			<key>remark</key>
			<dict>
				<key>cz</key>
				<string>vv</string>
			</dict>
		</dict>
		<dict>
			<key>png</key>
			<string>AppIcon60x60@2x</string>
			<key>gif</key>
			<string></string>
			<key>text</key>
			<string></string>
			<key>remark</key>
			<dict>
				<key>cz</key>
				<string>ee</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
